InfiniteRechargeMetrics/InfiniteRechargeMetrics/bin/
InfiniteRechargeMetrics/InfiniteRechargeMetrics/obj/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.Android/bin/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.Android/obj/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.iOS/bin/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.iOS/obj/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.UWP/bin/
InfiniteRechargeMetrics/InfiniteRechargeMetrics.UWP/obj/